@{
    Layout = "~/baseCommon.cshtml";
}

<style>
    .default-block {
        padding: 20px 40px;
    }

    .default-block-inner {
        border: 5px solid #e9e9e9;
        width: 440px;
        padding: 20px 40px;
        margin: 0 auto;
    }
</style>
<script>
    $(function () {
    });
</script>

<div class="default-block">
    <div class="default-block-inner">
        Добро пожаловать в OnXap Web!
    </div>
</div>

