@using OnXap.Journaling
@using OnXap.Modules.Adminmain
@using OnXap.Modules.Adminmain.ViewModels
@model JournalDetails

<script type='text/javascript' src="~/Data/Modules/Adminmain/Adminmain.js"></script>
<script type="text/javascript">
    $(function () {
        var model = @Model.jsobject();
        Adminmain.JournalDetails.Init({
            idJournal: model.IdJournal,
            nameJournal: model.NameJournal,
            journalDataCountAll: model.JournalDataCountAll,
            urls: {
                journalDetailsList: "@(Url.CreateRoute<Module, ModuleController>(x => x.JournalDetailsList(Model.IdJournal, null)))",
                journalClear: "@(Url.CreateRoute<Module, ModuleController>(x => x.JournalClear(Model.IdJournal)))"
            }
        });
    });
</script>

<div id="js-events-list__table"></div>