@using OnXap.Journaling
@using OnXap.Modules.Admin
@using OnXap.Modules.Adminmain.ViewModels
@model List<JournalsList>
@{ var moduleAdmin = this.GetAppCore().Get<ModuleAdmin>(); }

<script type='text/javascript' src="~/Data/Modules/Adminmain/Adminmain.js"></script>
<script type='text/javascript'>
    $(document).ready(function(){
        $("#block").hide();
        changeTitle('Журналы системы');
        var rows = @Model.ToArray().jsobject();
        Adminmain.Journals.Init({
            rows: rows.map(function(x) {
                return {
                    idJournal: Number(x.@Html.NameOf(x => x.First().JournalName.IdJournal)),
                    nameJournal: String(x.@Html.NameOf(x => x.First().JournalName.Name)),
                    latestEventType: Number(x.@Html.NameOf(x => x.First().LatestEventType)),
                    latestEventDate: new moment(x.@Html.NameOf(x => x.First().LatestEventDate)),
                    eventsCount: Number(x.@Html.NameOf(x => x.First().EventsCount))
                };
            }),
            journalDetailsLoadUrl: "/@moduleAdmin.UrlName/madmin/@this.GetModule().UrlName/JournalDetails/"
        });
    });
</script>

<h2>Журналы системы</h2>
<div id="js-journals"></div>
