@using OnXap.Journaling
@using OnXap.Modules.Admin
@using OnXap.Modules.Adminmain.ViewModels
@model List<JournalsList>
@{ var moduleAdmin = this.GetAppCore().Get<ModuleAdmin>(); }

<style>
    .js-journal-events__@((int)EventType.CriticalError) { background-color: #f44141 !important }
    .js-journal-events__@((int)EventType.Error) { background-color: #f48341 !important }
    .js-journal-events__@((int)EventType.Warning) { background-color: #f4c741 !important }
    .js-journal-events__@((int)EventType.Info) {  }
</style>
<script type='text/javascript'>
    class JournalsDataRow {
        constructor(source) {
            this.IdJournal = Number(source.@Html.NameOf(x => x.First().JournalName.IdJournal));
            this.NameJournal = String(source.@Html.NameOf(x => x.First().JournalName.Name));
            this.EventLastType = Number(source.@Html.NameOf(x => x.First().EventLastType));
            this.EventLastDate = new moment(source.@Html.NameOf(x => x.First().EventLastDate));
            this.EventsCount = Number(source.@Html.NameOf(x => x.First().EventsCount));
        }
    }

    class JournalsModel {
        constructor(source) {
            this.DataList = source.map(x => new JournalsDataRow(x));
        }
    }

    $(document).ready(function(){
        $("#block").hide();

        changeTitle('Журналы системы');

        var model = new JournalsModel(@Model.ToArray().jsobject());

        var d = new Vue({
            el: "#js-journals-list__table",
            data: {
                filters: {},
                dataList: model.DataList,
                JournalCurrent: {
                    Data: null,
                    Loading: false,
                    TabActive: false,
                    RequestId: null,
                }
            },
            methods: {
                rowClass: row => "js-journal-events__" + row.EventLastType,
                ShowJournal: function (journalData) {
                    var component = this;
                    component.JournalCurrent.Loading = true;
                    component.JournalCurrent.TabActive = true;
                    component.JournalCurrent.RequestId = $("#containerForLoading").html("<img src='/data/img/loading.gif'>").requestLoad(
                        "/@moduleAdmin.UrlName/madmin/@this.GetModule().UrlName/JournalDetails/" + journalData.IdJournal,
                        null,
                        function (result, message, data, requestId) {
                            if (component.JournalCurrent.RequestId != requestId) return;
                            component.JournalCurrent.Loading = false;
                            if (message.length > 0) alert(message);
                            if (result == JsonResult.OK) {
                                component.JournalCurrent.Data = journalData;
                            }
                        }
                    );
                }
            }
        });
    });
</script>

<h2>Журналы системы</h2>

<div id="js-journals-list__table">
    <pvl-tabview>
        <pvl-tabpanel header="Список журналов">
            <pvl-datatable :value="dataList" :row-class="rowClass"
                           sort-field="NameJournal" sort-order="true"
                           :filters="filters"
                           style="width:800px;">
                <template #header>
                    <div style='height:20px'>Всего журналов: {{ dataList ? dataList.length : 0 }}</div>
                </template>
                <pvl-column field="NameJournal" header="Название журнала" sortable="true" filter-match-mode="contains">
                    <template #filter>
                        <pvl-inputtext type="text" v-model="filters['NameJournal']" class="p-column-filter"></pvl-inputtext>
                    </template>
                </pvl-column>
                <pvl-column field="EventsCount" header="Количество событий" sortable="true" header-style="width:100px;" filter-match-mode="contains"></pvl-column>
                <pvl-column field="EventLastDate" header="Дата" sortable="true" rezisable="false" header-style="width:150px;">
                    <template #body="slotProps">
                        {{ slotProps.data.EventLastDate ? slotProps.data.EventLastDate.format("YYYY-MM-DD HH:mm:ss") : null }}
                    </template>
                </pvl-column>
                <pvl-column column-key="Actions" header="Действия" header-style="width:100px;">
                    <template #body="slotProps">
                        <input type="button" class="js-journal-events__button" :data-id="slotProps.data.IdJournal" @@click.stop="ShowJournal(slotProps.data)" value="Журнал">
                    </template>
                </pvl-column>
            </pvl-datatable>
        </pvl-tabpanel>
        <pvl-tabpanel :active.sync="JournalCurrent.TabActive" :disabled="!JournalCurrent.Data || JournalCurrent.Loading">
            <template slot="header">
                @*<i :class="['pi', 'pi-spinner', {'pi-spin' : JournalCurrent.Loading}]"></i>*@
                <span>Подробности журнала</span>
            </template>
            <pvl-progressspinner :class="[{'hidden' : !JournalCurrent.Loading}]"></pvl-progressspinner>
            <div id="containerForLoading" :class="[{'hidden' : JournalCurrent.Loading}]"></div>
        </pvl-tabpanel>
    </pvl-tabview>
</div>
