@using OnXap.Modules.Admin
@using OnXap.Modules.Adminmain
@using OnXap.Modules.Adminmain.ViewModels
@using OnXap.Modules.CoreModule
@using OnXap.TaskSheduling
@model TaskSheduling
@{ var moduleAdmin = this.GetAppCore().Get<ModuleAdmin>(); }

<script type='text/javascript' src="~/Data/Modules/Adminmain/Adminmain.js"></script>
<script type="text/javascript" src="/Design/UI/jqCron/jqCron.js"></script>
<script type="text/javascript" src="/Design/UI/jqCron/jqCron.ru.js"></script>
<link rel="stylesheet" href="/Design/UI/jqCron/jqCron.css">
<script type='text/javascript'>
    $(document).ready(function(){
        $("#block").hide();
        changeTitle('Планировщик задач');
        var rows = @Model.TaskList.ToArray().jsobject();
        Adminmain.TaskSheduling.Init({
            rows: rows,
            getExecuteUrl: function (id, waitForCompletion) {
                return "@(Url.CreateRoute<Module, ModuleController>(x => x.TaskShedulingTaskExecute(123321, false)))".
                    replace('123321', id).
                    replace('False', waitForCompletion ? 'True' : 'False');
            },
            getSaveUrl: function () {
                return "@(Url.CreateRoute<Module, ModuleController>(x => x.TaskShedulingTaskSave(null)))";
            },
        });
    });
</script>

<h2>Планировщик задач</h2>
<h4>Время запуска задач рассчитывается, исходя из часового пояса, настроенного в приложении.<br />Текущий часовой пояс: @(this.GetAppCore().Get<CoreModule>().ApplicationTimeZoneInfo.DisplayName) </h4>
<div id="js-tasksheduling"></div>
