@using OnXap.Journaling
@using OnXap.Modules.Admin
@using OnXap.Modules.Adminmain.Design.Model
@model List<JournalsList>
@{ var moduleAdmin = this.GetAppCore().Get<ModuleAdmin>(); }

<style>
    .js-journal-events__@((int)EventType.CriticalError) { background-color: #f44141 !important }
    .js-journal-events__@((int)EventType.Error) { background-color: #f48341 !important }
    .js-journal-events__@((int)EventType.Warning) { background-color: #f4c741 !important }
    .js-journal-events__@((int)EventType.Info) {  }
</style>
<script type='text/javascript'>
    class JournalsDataRow {
        constructor(source) {
            this.IdJournal = Number(source.@Html.NameOf(x => x.First().JournalName.IdJournal));
            this.NameJournal = String(source.@Html.NameOf(x => x.First().JournalName.Name));
            this.EventLastType = Number(source.@Html.NameOf(x => x.First().EventLastType));
            this.EventLastDate = new moment(source.@Html.NameOf(x => x.First().EventLastDate));
            this.EventsCount = Number(source.@Html.NameOf(x => x.First().EventsCount));
        }
    }

    class JournalsModel {
        constructor(source) {
            this.DataList = source.map(x => new JournalsDataRow(x));
        }
    }

    $(document).ready(function(){
        $("#block").hide();

        changeTitle('Журналы системы');

        var model = new JournalsModel(@Model.ToArray().jsobject());

        var d = new Vue({
            el: "#js-journals-list__table",
            components: {
                'datatable': datatable,
                'column': column
            },
            data: {
                dataList: model.DataList
            },
            methods: {
                rowClass: row => "js-journal-events__" + row.EventLastType,
                ShowJournal: function (idJournal) {
                    $("#containerForLoading").html("<img src='/data/img/loading.gif'>").requestLoad("/@moduleAdmin.UrlName/madmin/@this.GetModule().UrlName/JournalDetails/" + idJournal, null, function (result, message) {
                        if (message.length > 0) alert(message);
                    });
                }
            }
        });
    });
</script>

<h2>Журналы системы</h2>

<table width='100%'>
    <tr>
        <td style='vertical-align:top;width:650px;min-width:650px;'>
            <div id="js-journals-list__table">
                <datatable :value="dataList" :row-class="rowClass">
                    <template #header>
                        <div style='height:20px'>Всего журналов: {{ dataList ? dataList.length : 0 }}</div>
                    </template>
                    <column field="NameJournal" header="Название журнала" sortable="true" filter-match-mode="contains"></column>
                    <column field="EventsCount" header="Количество событий" sortable="true" header-style="width:100px;" filter-match-mode="contains"></column>
                    <column field="EventLastDate" header="Дата" sortable="true" rezisable="false" header-style="width:150px;">
                        <template #body="slotProps">
                            {{ slotProps.data.EventLastDate ? slotProps.data.EventLastDate.format("YYYY-MM-DD HH:mm:ss") : null }}
                        </template>
                    </column>
                    <column column-key="Actions" header="Действия" header-style="width:100px;">
                        <template #body="slotProps">
                            <input type="button" class="js-journal-events__button" :data-id="slotProps.data.IdJournal" @@click.stop="ShowJournal(slotProps.data.IdJournal)" value="Журнал">
                        </template>
                    </column>
                </datatable>
            </div>
        </td>
        <td style='width:50px;'></td>
        <td style='width:100%;vertical-align:top;align:left;' id="containerForLoading"></td>
    </tr>
</table>

