@{ Layout = "~/baseCommon.cshtml"; }

@section scripts { @RenderSection("scripts", false) }
@section breadcrumbs {
    @RenderSection("breadcrumbs", false)
    @if (!IsSectionDefined("breadcrumbs"))
    {
        <div class="breadcrumbs inner-breadcrumbs">
            <div class="breadcrumbs__cover cover">
                <div class="breadcrumbs__links">
                    <p class="breadcrumbs__last">Личный кабинет</p>
                </div>
            </div>
        </div>
    }
}

<div class="customer-block">
    <div id="customer_form" class="cover">

        @RenderBody()

    </div>
</div>